[submodule "AirBnB_clone_v3"]
	url = https://github.com/Ostoyae/AirBnB_clone_v3.git
	branch = master
[submodule "AirBnB_clone_v4"]
	url = https://github.com/Ostoyae/AirBnB_clone_v4.git
	branch = master
